**/__pycache__
**/.env
**/.git
**/.venv
**/.vscode
**/config
**/docs
**/instance
**/logs
raspiCamSrv/static/config
raspiCamSrv/static/events
raspiCamSrv/static/photos
raspiCamSrv/static/photoseries
raspiCamSrv/static/tuning
**/tests
**/.dockerignore
**/.gitignore
**/docker-compose*
**/Dockerfile*
LICENSE
README.md
