{% extends 'base.html' %}

{% block header %}
    {% block title %}Live{% endblock %}
{% endblock %}

{% block content %}
    <div class="w3-row w3-border">
        <div class="w3-half">
            <img src="{{ url_for('home.video_feed') }}" class="w3-image">
        </div>
        <div class="w3-half">
            <div class="w3-bar w3-green">
                <button class="w3-bar-item w3-button" onclick="openCtrlTab('focus')">Focus</button>
                <button class="w3-bar-item w3-button" onclick="openCtrlTab('zoom')">Zoom</button>
                <button class="w3-bar-item w3-button" onclick="openCtrlTab('exposure')">Exposure</button>
            </div>
            {% if sc.lastLiveTab == "focus" %}
            <div id="focus" class="w3-container controlgroup">
            {% else %}
            <div id="focus" class="w3-container controlgroup" style="display:none">
            {% endif %}
                <h4>Focus handling</h4>
                {% if cp.hasFocus %}
                <div>
                    <form method="post" action="{{ url_for('home.focus_control') }}">
                        <table class="w3-table-all">
                            <tr>
                                <td class="w3-tooltip">
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        The autofocus mode.
                                    </span>
                                    <label for="afmode">Autofocus Mode:</label>
                                </td>
                                <td>
                                    <select name="afmode" id="afmode">
                                        {% if cc.afMode == 0 %}
                                        <option value="0" selected>Manual</option>
                                        {% else %}
                                        <option value="0">Manual</option>
                                        {% endif %}
                                        {% if cc.afMode == 1 %}
                                        <option value="1" selected>Auto</option>
                                        {% else %}
                                        <option value="1">Auto</option>
                                        {% endif %}
                                        {% if cc.afMode == 2 %}
                                        <option value="2" selected>Continuous</option>
                                        {% else %}
                                        <option value="2">Continuous</option>
                                        {% endif %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="w3-tooltip">
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        The focal distance in m. <br>(pressing Enter will automatially submit)
                                    </span>
                                    <label for="fdist">Focal Distance [m]:</label>
                                </td>
                                <td>
                                    <input type="number" id="fdist" name="fdist" min="0.01" max="999" step="0.01" value={{ cc.focalDistance }}>
                                </td>
                            </tr>
                            <tr>
                                <td class="w3-tooltip">
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        Specifies where focus should be measured.
                                    </span>
                                    <label for="afmetering">Autofocus Metering:</label>
                                </td>
                                <td>
                                    <select name="afmetering" id="afmetering">
                                        {% if cc.afMetering == 0 %}
                                        <option value="0" selected>Auto</option>
                                        {% else %}
                                        <option value="0">Auto</option>
                                        {% endif %}
                                        {% if cc.afMetering == 1 %}
                                        <option value="1" selected>Windows</option>
                                        {% else %}
                                        <option value="1">Windows</option>
                                        {% endif %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="w3-tooltip">
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        Pause continuous autofocus. Only has any effect when in continuous autofocus mode.
                                    </span>
                                    <label for="afpause">Autofocus Pause:</label>
                                </td>
                                <td>
                                    <select name="afpause" id="afpause">
                                        {% if cc.afPause == 0 %}
                                        <option value="0" selected>Immediate</option>
                                        {% else %}
                                        <option value="0">Immediate</option>
                                        {% endif %}
                                        {% if cc.afPause == 1 %}
                                        <option value="1" selected>Deferred</option>
                                        {% else %}
                                        <option value="1">Deferred</option>
                                        {% endif %}
                                        {% if cc.afPause == 2 %}
                                        <option value="2" selected>Resume</option>
                                        {% else %}
                                        <option value="2">Resume</option>
                                        {% endif %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="w3-tooltip">
                                    <label for="afrange">Autofocus Range:</label>
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        Range of lens positions to search.
                                    </span>
                                </td>
                                <td>
                                    <select name="afrange" id="afrange">
                                        {% if cc.afRange == 0 %}
                                        <option value="0" selected>Normal</option>
                                        {% else %}
                                        <option value="0">Normal</option>
                                        {% endif %}
                                        {% if cc.afRange == 1 %}
                                        <option value="1" selected>Macro</option>
                                        {% else %}
                                        <option value="1">Macro</option>
                                        {% endif %}
                                        {% if cc.afRange == 2 %}
                                        <option value="2" selected>Full</option>
                                        {% else %}
                                        <option value="2">Full</option>
                                        {% endif %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="w3-tooltip">
                                    <label for="afspeed">Autofocus Speed:</label>
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        Speed of the autofocus search.
                                    </span>
                                </td>
                                <td>
                                    <select name="afspeed" id="afspeed">
                                        {% if cc.afSpeed == 0 %}
                                        <option value="0" selected>Normal</option>
                                        {% else %}
                                        <option value="0">Normal</option>
                                        {% endif %}
                                        {% if cc.afSpeed == 1 %}
                                        <option value="1" selected>Fast</option>
                                        {% else %}
                                        <option value="1">Fast</option>
                                        {% endif %}
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <input class="w3-button w3-black" type="submit" value="Submit">
                    </form>
                    <br>
                    <form method="post" action="{{ url_for('home.trigger_autofocus') }}">
                        <input class="w3-button w3-black" type="submit" value="Trigger Autofocus">
                    </form>
                </div>
                {% else %}
                <p>Not available for this camera</p>
                {% endif %}
            </div>
            {% if sc.lastLiveTab == "zoom" %}
            <div id="zoom" class="w3-container controlgroup">
            {% else %}
            <div id="zoom" class="w3-container controlgroup" style="display:none">
            {% endif %}
                <h4>Zoom and pan</h4>
                <div>
                    <form method="post" action="{{ url_for('home.set_zoom') }}">
                        <table class="w3-table-all">
                            <tr>
                                <td class="w3-tooltip">
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        The current zoom factor in %
                                    </span>
                                    <label for="zoomfactor">Current zoom factor in %:</label>
                                </td>
                                <td>
                                    <input type="number" id="zoomfactor" name="zoomfactor" value={{ sc.zoomFactor }} disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="w3-tooltip">
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        The increment or decrement (in %) by which the zoom factor will be modified in each step
                                    </span>
                                    <label for="zoomfactorstep">Zoom & pan step in %:</label>
                                </td>
                                <td>
                                    <input type="number" id="zoomfactorstep" name="zoomfactorstep" value={{ sc.zoomFactorStep }} min="2" max="20">
                                </td>
                            </tr>
                            <tr>
                                <td class="w3-tooltip">
                                    <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                                        The scaler crop rectangle determines which part of the image received from the sensor is
                                        cropped and then scaled to produce an output image of the correct size.
                                        (x_offset, y_offset, width, height)
                                    </span>
                                    <label for="scalercrop">Current ScalerCrop:</label>
                                </td>
                                <td>
                                    <input type="text" id="scalercrop" name="scalercrop" value={{ cc.scalerCropStr }} disabled>
                                </td>
                            </tr>
                        </table>
                        <input class="w3-button w3-black" style ="display:none" type="submit" value="Submit">
                    </form>
                    <br>
                    <table class="w3-table">
                        <tr>
                            <td>
                                <form method="post" action="{{ url_for('home.zoom_in') }}">
                                    <input class="w3-button w3-black" style="width:80%" type="submit" value="Zoom in">
                                </form>
                            </td>
                            <td>
                            </td>
                            <td>
                                <form method="post" action="{{ url_for('home.pan_up') }}">
                                    <input class="w3-button w3-black" style="width:80%" type="submit" value="Pan up">
                                </form>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form method="post" action="{{ url_for('home.zoom_out') }}">
                                    <input class="w3-button w3-black" style="width:80%" type="submit" value="Zoom out">
                                </form>
                            </td>
                            <td>
                                <form method="post" action="{{ url_for('home.pan_left') }}">
                                    <input class="w3-button w3-black" style="width:80%" type="submit" value="Pan left">
                                </form>
                            </td>
                            <td>
                                <form method="post" action="{{ url_for('home.pan_center') }}">
                                    <input class="w3-button w3-black" style="width:80%" type="submit" value="Center">
                                </form>
                            </td>
                            <td>
                                <form method="post" action="{{ url_for('home.pan_right') }}">
                                    <input class="w3-button w3-black" style="width:80%" type="submit" value="Pan right">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form method="post" action="{{ url_for('home.zoom_full') }}">
                                    <input class="w3-button w3-black" style="width:80%" type="submit" value="Full">
                                </form>
                            </td>
                            <td>
                            </td>
                            <td>
                                <form method="post" action="{{ url_for('home.pan_down') }}">
                                    <input class="w3-button w3-black" style="width:80%" type="submit" value="Pan down">
                                </form>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>        
            {% if sc.lastLiveTab == "exposure" %}
            <div id="exposure" class="w3-container controlgroup" style="display:none">
            {% else %}
            <div id="exposure" class="w3-container controlgroup" style="display:none">
            {% endif %}
                <h4>Exposure</h4>
            </div>
        </div>
    </div>
    <div class="w3-row w3-border">
        <div class="w3-half">
            <p> </p>
            <form class="w3-container" method="post" action="{{ url_for('home.take_image') }}">
                <label for="filepath">File Path</label>
                <input class="w3-input" name="filepath" id="filepath" value = "{{ ip }}">
                <p></p>
                <label for="filename">File Name (leave empty for automatic naming)</label>
                <input class="w3-input" name="filename" id="filename">
                <p> </p>
                <input class="w3-button w3-black" type="submit" value="Photo">
            </form>
            <p> </p>
        </div>
        <div class="w3-half">
            <p></p>
        </div>
    </div>
    <script>
        function openCtrlTab(ctrlTabName) {
            var i;
            var x = document.getElementsByClassName("controlgroup");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(ctrlTabName).style.display = "block";
        }
    </script>

{% endblock %}