{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <img src="{{ url_for('home.video_feed') }}" width="640" height="480" >
    </div>
    {% if cc.hasFocus %}
        <div>
            <form method="post" action="{{ url_for('home.focus_control') }}">
                <label for="afmode">Autofocus Mode:</label><br>
                <select name="afmode" id="afmode">
                    {% if cc.afMode == 0 %}
                        <option value="0" selected>Manual</option>
                    {% else %}
                        <option value="0">Manual</option>
                    {% endif %}
                    {% if cc.afMode == 1 %}
                        <option value="1" selected>Auto</option>
                    {% else %}
                        <option value="1">Auto</option>
                    {% endif %}
                    {% if cc.afMode == 2 %}
                        <option value="2" selected>Continuous</option>
                    {% else %}
                        <option value="1">Continuous</option>
                    {% endif %}
                </select>
                <label for="fdist">Distance (between 0 and 999):</label>
                <input type="number" id="fdist" name="fdist" min="0" max="999" step="0.01" value="1">
            </form>
        </div>
    {% endif %}
    <div>
        <form method="post" action="{{ url_for('home.take_image') }}">
            <label for="filename">File Name</label>
            <input name="filename" id="filename">
            <input type="submit" value="Photo">
        </form>
    </div>
{% endblock %}