{% extends 'base.html' %}

{% block header %}
    {% block title %}Server Settings{% endblock %}
{% endblock %}

{% block content %}
    <h3>Settings</h3>
    <div>
        <form method="post" action="{{ url_for('settings.serverconfig') }}">
            <table class="w3-table-all">
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The camera used by the server.<br>
                            In case that multiple cameras are connected to the server device,
                            the active camera can be selected here
                        </span>
                        <label for="activecamera">Active Camera:</label>
                    </td>
                    <td style="width:70%">
                        <select name="activecamera" id="activecamera">
                        {% for cam in cs %}
                            {% if sc.activeCamera == cam.num %}
                            <option value="{{ cam.num }}" selected>{{ cam.num }}: {{ cam.model }}</option>
                            {% else %}
                            <option value="{{ cam.num }}">{{ cam.num }}: {{ cam.model }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The system path where photos and videos will be stored.
                        </span>
                        <label for="photopath">Path for Photos/Videos:</label>
                    </td>
                    <td style="width:70%">
                        <input style="width:70%" type="text" id="photopath" name="photopath" value="{{ sc.photoPath }}" disabled>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The file format to be used for photos
                        </span>
                        <label for="phototype">Photo type:</label>
                    </td>
                    <td style="width:70%">
                        <select name="phototype" id="phototype">
                            {% if sc.photoType == "jpeg" %}
                            <option value="jpeg" selected>jpeg</option>
                            {% else %}
                            <option value="jpeg">jpeg</option>
                            {% endif %}
                            {% if sc.photoType == "jpg" %}
                            <option value="jpg" selected>jpg</option>
                            {% else %}
                            <option value="jpg">jpg</option>
                            {% endif %}
                            {% if sc.photoType == "bmp" %}
                            <option value="bmp" selected>bmp</option>
                            {% else %}
                            <option value="bmp">bmp</option>
                            {% endif %}
                            {% if sc.photoType == "png" %}
                            <option value="png" selected>png</option>
                            {% else %}
                            <option value="png">png</option>
                            {% endif %}
                            {% if sc.photoType == "gif" %}
                            <option value="gif" selected>gif</option>
                            {% else %}
                            <option value="gif">gif</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The file format to be used for raw photos
                        </span>
                        <label for="rawphototype">Raw type:</label>
                    </td>
                    <td style="width:70%">
                        <select name="rawphototype" id="rawphototype">
                            {% if sc.rawPhotoType == "dng" %}
                            <option value="dng" selected>dng</option>
                            {% else %}
                            <option value="dng">dng</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The file format to be used for videos
                        </span>
                        <label for="videotype">Video type:</label>
                    </td>
                    <td style="width:70%">
                        <select name="videotype" id="videotype">
                            {% if sc.videoType == "h264" %}
                            <option value="h264" selected>h264</option>
                            {% else %}
                            <option value="h264">h264</option>
                            {% endif %}
                            {% if sc.videoType == "mp4" %}
                            <option value="mp4" selected>mp4</option>
                            {% else %}
                            <option value="mp4">mp4</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
            </table>
            <p style="margin-bottom: 0"></p>
            <input class="w3-button w3-black" type="submit" value="Submit">
        </form>
<br>
<form method="post" action="{{ url_for('settings.resetServer') }}">
    <p style="margin-bottom: 0"></p>
    <input class="w3-button w3-black" type="submit" value="Reset Server">
</form>

{% endblock %}