{% extends 'base.html' %}

{% block header %}
    {% block title %}Server Settings{% endblock %}
{% endblock %}

{% block content %}
    <h3>Settings</h3>
    <div>
        <form method="post" action="{{ url_for('settings.serverconfig') }}">
            <table class="w3-table-all">
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The camera used by the server.<br>
                            In case that multiple cameras are connected to the server device,
                            the active camera can be selected here
                        </span>
                        <label for="activecamera">Active Camera:</label>
                    </td>
                    <td style="width:70%" colspan="2">
                        <select name="activecamera" id="activecamera">
                        {% for cam in cs %}
                            {% if cam.isUsb == false %}
                            {% if sc.activeCamera == cam.num %}
                            <option value="{{ cam.num }}" selected>{{ cam.num }}: {{ cam.model }}</option>
                            {% else %}
                            <option value="{{ cam.num }}">{{ cam.num }}: {{ cam.model }}</option>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            If one or multiple microphones are accessible through PulseAudio, 
                            the description for the default microphone is shown.<br>
                            This will be the microphone used for audio recording.
                        </span>
                        <label for="defaultmic">Default Microphone:</label>
                    </td>
                    <td style="width:35%">
                        <input type="text" id="defaultmic" name="defaultmic" value="{{ sc.defaultMic }}" disabled>
                    </td>
                    <td style="width:35%">
                        {% if sc.isMicMuted == True %}
                        <input type="text" id="micmuted" name="micmuted" value="M U T E D" disabled>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            Select whether audio shall be recorded along with videos.<br>
                            This is only available for selection if a microphone is connected 
                            and accessible through PulseAudio.
                        </span>
                        <label for="recordaudio">Record Audio along with Video:</label>
                    </td>
                    <td style="width:70%" colspan="2">
                        {% if sc.hasMicrophone == True %}
                        {% if sc.recordAudio == True %}
                        <input type="checkbox" id="recordaudio" name="recordaudio" aria-label="recordaudio" value="1"
                            checked>
                        {% else %}
                        <input type="checkbox" id="recordaudio" name="recordaudio" aria-label="recordaudio" value="0">
                        {% endif %}
                        {% else %}
                        <input type="checkbox" id="recordaudio" name="recordaudio" aria-label="recordaudio" value="0" disabled>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The time shift in seconds to apply between the audio and video streams.<br>
                            This may need tweaking to improve the audio/video synchronisation.
                        </span>
                        <label for="audiosync">Audio Timeshift [sec]:</label>
                    </td>
                    <td style="width:70%" colspan="2">
                        <input type="number" id="audiosync" name="audiosync" min="-2.00" max="2.00" step="0.01" value="{{ sc.audioSync }}">
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The system path where photos and videos will be stored.
                        </span>
                        <label for="photopath">Path for Photos/Videos:</label>
                    </td>
                    <td style="width:70%" colspan="2">
                        <input style="width:70%" type="text" id="photopath" name="photopath" value="{{ sc.photoRoot }}/{{ sc.cameraPhotoSubPath }}" disabled>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The file format to be used for photos
                        </span>
                        <label for="phototype">Photo type:</label>
                    </td>
                    <td style="width:70%" colspan="2">
                        <select name="phototype" id="phototype">
                            {% if sc.photoType == "jpeg" %}
                            <option value="jpeg" selected>jpeg</option>
                            {% else %}
                            <option value="jpeg">jpeg</option>
                            {% endif %}
                            {% if sc.photoType == "jpg" %}
                            <option value="jpg" selected>jpg</option>
                            {% else %}
                            <option value="jpg">jpg</option>
                            {% endif %}
                            {% if sc.photoType == "bmp" %}
                            <option value="bmp" selected>bmp</option>
                            {% else %}
                            <option value="bmp">bmp</option>
                            {% endif %}
                            {% if sc.photoType == "png" %}
                            <option value="png" selected>png</option>
                            {% else %}
                            <option value="png">png</option>
                            {% endif %}
                            {% if sc.photoType == "gif" %}
                            <option value="gif" selected>gif</option>
                            {% else %}
                            <option value="gif">gif</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The file format to be used for raw photos
                        </span>
                        <label for="rawphototype">Raw type:</label>
                    </td>
                    <td style="width:70%" colspan="2">
                        <select name="rawphototype" id="rawphototype">
                            {% if sc.rawPhotoType == "dng" %}
                            <option value="dng" selected>dng</option>
                            {% else %}
                            <option value="dng">dng</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            The file format to be used for videos
                        </span>
                        <label for="videotype">Video type:</label>
                    </td>
                    <td style="width:70%" colspan="2">
                        <select name="videotype" id="videotype">
                            {% if sc.videoType == "h264" %}
                            <option value="h264" selected>h264</option>
                            {% else %}
                            <option value="h264">h264</option>
                            {% endif %}
                            {% if sc.videoType == "mp4" %}
                            <option value="mp4" selected>mp4</option>
                            {% else %}
                            <option value="mp4">mp4</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            Specifies the number of images to show on one page on the 'Photos' tab
                        </span>
                        <label for="chunkSizePhoto">Chunk size for Photo viewer:</label>
                    </td>
                    <td style="width:70%" colspan="2">
                        <input type="number" id="chunkSizePhoto" name="chunkSizePhoto" value="{{ sc.chunkSizePhoto }}" min="2" max="999">
                    </td>
                </tr>
                <tr>
                    <td style="width:5%">
                    </td>
                    <td style="width:25%" class="w3-tooltip">
                        <span style="position:absolute;left:0;bottom:30px" class="w3-text w3-tag">
                            Select whether you want to see histograms along with specific photo series.
                        </span>
                        <label for="showhistograms">Show Histograms:</label>
                    </td>
                    <td style="width:35%">
                        {% if sc.supportsHistograms == True %}
                        {% if sc.useHistograms == True %}
                        <input type="checkbox" id="showhistograms" name="showhistograms" value="1" checked>
                        {% else %}
                        <input type="checkbox" id="showhistograms" name="showhistograms" value="0">
                        {% endif %}
                        {% else %}
                        <input type="checkbox" id="showhistograms" name="showhistograms" value="0" disabled>
                        {% endif %}
                    </td>
                    <td style="width:35%">
                    {% if sc.supportsHistograms == False %}
                        <p style="margin-top:0; margin-bottom:0">{{ sc.whyNotSupportsHistograms|safe }}</p>
                    {% endif %}
                    </td>
                </tr>
            </table>
            <p style="margin-bottom: 0"></p>
            <input class="w3-button w3-black" type="submit" value="Submit">
        </form>
{% set activeuser = g.user %}
<br>
    {% if activeuser["issuperuser"] == 1 %}
    <h3>Users</h3>
    <div>
        <form id="removeusersform" method="post" action="{{ url_for('settings.remove_users') }}">
            <table class="w3-table-all">
                <tr>
                    <th>
                        Sel
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Initial
                    </th>
                    <th>
                        SuperUser
                    </th>
                </tr>
                {% for user in g.users %}
                <tr>
                    <td style="width:5%">
                        <input type="checkbox" id="sel_{{ user['id'] }}" name="sel_{{ user['id'] }}"
                            aria-label="sel_{{ user['id'] }}" value="0">
                    </td>
                    <td>
                        {{ user["id"] }}
                    </td>
                    <td>
                        {{ user["username"] }}
                    </td>
                    <td>
                        {% if 'isinitial' is in user %}
                        {% if user["isinitial"] == 0 %}
                        No
                        {% else %}
                        Yes
                        {% endif %}
                        {% else %}
                        Unknown
                        {% endif %}
                    </td>
                    <td>
                        {% if 'issuperuser' is in user %}
                        {% if user["issuperuser"] == 0 %}
                        No
                        {% else %}
                        Yes
                        {% endif %}
                        {% else %}
                        Unknown
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <p style="margin-bottom: 0"></p>
            <input class="w3-button w3-black" style="width: 22ch" type="submit" onclick="confirmRemove('removeusersform')" value="Remove Selected Users">
            <p style="margin-bottom: 0"></p>
        </form>
        <form method="post" action="{{ url_for('settings.register_user') }}">
            <p style="margin-bottom: 0"></p>
            <input class="w3-button w3-black" style="width: 22ch" type="submit" value="Register New User">
        </form>
        {% set user = g.users[0] %}
        {% if not 'issuperuser' is in user %}
        <p>
            You are using an outdated database schema for users.<br>
            To update to the new schema, run the following command in raspi-cam-srv, 
            with activated virtual environment:<br>
            flask --app raspiCamSrv init-db
        </p>
        {% endif %}
    </div>
{% endif %}
<br>
<form method="post" action="{{ url_for('settings.resetServer') }}">
    <p style="margin-bottom: 0"></p>
    <input class="w3-button w3-black" type="submit" value="Reset Server">
</form>
<script>
    function confirmRemove(form) {
        if (confirm("Do you want to remove the selected users?")) {
            document.getElementById(form).submit();
        }
    }
</script>

{% endblock %}