{% extends 'base.html' %}

{% block header %}
{% block title %}Change Password{% endblock %}
{% endblock %}

{% block content %}
<h3>Change Password</h3>
<form class="w3-container" method="post">
    <label for="username">Username</label>
    <input class="w3-input" name="username" id="username" required autofocus>
    <label for="oldpassword">Old Password</label>
    <input class="w3-input" type="password" name="oldpassword" id="oldpassword" required>
    <p> </p>
    <label for="newpassword">New Password</label>
    <input class="w3-input" type="password" name="newpassword" id="newpassword" required>
    <label for="newpassword2">Repeat New Password</label>
    <input class="w3-input" type="password" name="newpassword2" id="newpassword2" required>
    <p> </p>
    <input class="w3-button w3-black" type="submit" value="Change Password">
</form>
{% endblock %}