{% extends 'base.html' %}

{% block header %}
{% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
<h3>Register</h3>
<form class="w3-container" method="post" action="{{ url_for('auth.register') }}">
    <label for="username">Username</label>
    <input class="w3-input" name="username" id="username" required autofocus>
    <label for="password">Password</label>
    <input class="w3-input" type="password" name="password" id="password" required>
    <p> </p>
    <input class="w3-button w3-black" type="submit" value="Register">
</form>
{% endblock %}