<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Raspi Camera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
    {% if sc.curMenu == "live" %}
    <body 
        onload="showAfWindows('{{ sc.lastLiveTab }}', '{{ sc.isVideoRecording }}', 'include_afwindows', '{{ sc.isZoomModeDraw }}', '{{ sc.scalerCropLiveView }}')"
        onresize="showAfWindows('{{ sc.lastLiveTab }}', '{{ sc.isVideoRecording }}', 'include_afwindows', '{{ sc.isZoomModeDraw }}', '{{ sc.scalerCropLiveView }}')"
    >
    {% else %}
    <body>
    {% endif %}
        <div class="w3-container">
            <div class="w3-bar w3-blue w3-large">
                <div class="w3-bar-item w3-left">raspiCamSrv {{ g.version }}</div>
                <div class="w3-bar-item w3-center">{% block header %}{% endblock %}</div>
                {% if g.user %}
                <div class="w3-bar-item w3-right">
                    {{ g.user['username'] }}
                     | 
                    {{ sc.activeCameraInfo}}
                     |
                    {{ g.hostname }}
                </div>
                {% else%}
                <div class="w3-bar-item w3-right">
                    {{ sc.activeCameraInfo}}
                    |
                    {{ g.hostname }}
                </div>
                {% endif %}
            </div>
            <div class="w3-bar w3-black">
                {% if g.user %}
                {% if sc.curMenu == "live" %}
                <a href="{{ url_for('home.index') }}" class="w3-bar-item w3-button menubtns w3-dark-grey" id='livebtn' onclick="openMenu('livebtn')">Live</a>
                {% else %}
                <a href="{{ url_for('home.index') }}" class="w3-bar-item w3-button menubtns" id='livebtn' onclick="openMenu('livebtn')">Live</a>
                {% endif %}
                {% if sc.curMenu == "config" %}
                <a href="{{ url_for('config.main') }}" class="w3-bar-item w3-button w3-dark-grey" id='cfgbtn' onclick="openMenu('cfgbtn')">Config</a>
                {% else %}
                <a href="{{ url_for('config.main') }}" class="w3-bar-item w3-button" id='cfgbtn' onclick="openMenu('cfgbtn')">Config</a>
                {% endif %}
                {% if sc.curMenu == "info" %}
                <a href="{{ url_for('info.main') }}" class="w3-bar-item w3-button w3-dark-grey" id='infobtn' onclick="openMenu('infobtn')">Info</a>
                {% else %}
                <a href="{{ url_for('info.main') }}" class="w3-bar-item w3-button" id='infobtn' onclick="openMenu('infobtn')">Info</a>
                {% endif %}
                {% if sc.curMenu == "photos" %}
                <a href="{{ url_for('images.main') }}" class="w3-bar-item w3-button w3-dark-grey" id='imagesbtn' onclick="openMenu('imagesbtn')">Photos</a>
                {% else %}
                <a href="{{ url_for('images.main') }}" class="w3-bar-item w3-button" id='imagesbtn' onclick="openMenu('imagesbtn')">Photos</a>
                {% endif %}
                {% if sc.curMenu == "photoseries" %}
                <a href="{{ url_for('photoseries.main') }}" class="w3-bar-item w3-button w3-dark-grey" id='photoseriesbtn' onclick="openMenu('photoseriesbtn')">Photo Series</a>
                {% else %}
                <a href="{{ url_for('photoseries.main') }}" class="w3-bar-item w3-button" id='photoseriesbtn' onclick="openMenu('photoseriesbtn')">Photo Series</a>
                {% endif %}
                {% if sc.curMenu == "trigger" %}
                <a href="{{ url_for('trigger.trigger') }}" class="w3-bar-item w3-button w3-dark-grey" id='triggerbtn' onclick="openMenu('triggerbtn')">Trigger</a>
                {% else %}
                <a href="{{ url_for('trigger.trigger') }}" class="w3-bar-item w3-button" id='triggerbtn' onclick="openMenu('triggerbtn')">Trigger</a>
                {% endif %}
                {% if sc.curMenu == "webcam" %}
                <a href="{{ url_for('webcam.webcam') }}" class="w3-bar-item w3-button w3-dark-grey" id='webcambtn' onclick="openMenu('webcambtn')">Web Cam</a>
                {% else %}
                <a href="{{ url_for('webcam.webcam') }}" class="w3-bar-item w3-button" id='webcambtn' onclick="openMenu('webcambtn')">Web Cam</a>
                {% endif %}
                {% if sc.curMenu == "console" %}
                <a href="{{ url_for('console.console') }}" class="w3-bar-item w3-button w3-dark-grey" id='consolebtn' onclick="openMenu('consolebtn')">Console</a>
                {% else %}
                <a href="{{ url_for('console.console') }}" class="w3-bar-item w3-button" id='consolebtn' onclick="openMenu('consolebtn')">Console</a>
                {% endif %}
                {% if sc.curMenu == "settings" %}
                <a href="{{ url_for('settings.main') }}" class="w3-bar-item w3-button w3-dark-grey" id='settingsbtn' onclick="openMenu('settingsbtn')">Settings</a>
                {% else %}
                <a href="{{ url_for('settings.main') }}" class="w3-bar-item w3-button" id='settingsbtn' onclick="openMenu('settingsbtn')">Settings</a>
                {% endif %}
                {% if sc.curMenu == "live" %}
                <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button" id='logoutbtn' onclick="openMenu('logoutbtn')">Log Out</a>
                {% else %}
                <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button" id='logoutbtn' onclick="openMenu('logoutbtn')">Log Out</a>
                {% endif %}
                <div class="w3-bar-item w3-right" style="padding-top:2px; padding-bottom:0">
                    {% if sc.isLiveStream2 != None %}
                    {% if sc.isLiveStream2 == True %}
                    <img src="{{ url_for('static', filename='recording_live2_active.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px"> 
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_live2_inactive.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px"> 
                    {% endif %}
                    {% endif %}
                    {% if sc.isEventhandling %}
                    {% if sc.isEventsWaiting %}
                    <img src="{{ url_for('static', filename='recording_events_wait.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_events_active.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% endif %}
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_events_inactive.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% endif %}
                    {% if sc.isTriggerRecording %}
                    {% if sc.isTriggerWaiting %}
                    <img src="{{ url_for('static', filename='recording_trigger_wait.png') }}" class="w3-image" id="recording_active" alt="Recording paused" style="height:34px; width:34px">
                    {% elif sc.isTriggerTesting %}
                    <img src="{{ url_for('static', filename='recording_trigger_test.png') }}" class="w3-image" id="recording_active" alt="Recording testing" style="height:34px; width:34px">
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_trigger_active.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% endif %}
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_trigger_inactive.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% endif %}
                    {% if sc.isPhotoSeriesRecording %}
                    <img src="{{ url_for('static', filename='recording_series_active.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_series_inactive.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% endif %}
                    {% if sc.isAudioRecording %}
                    <img src="{{ url_for('static', filename='recording_audio_active.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_audio_inactive.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% endif %}
                    {% if sc.isVideoRecording %}
                    <img src="{{ url_for('static', filename='recording_video_active.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_video_inactive.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px">
                    {% endif %}
                    {% if sc.isLiveStream %}
                    <img src="{{ url_for('static', filename='recording_live_active.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px"> 
                    {% else %}
                    <img src="{{ url_for('static', filename='recording_live_inactive.png') }}" class="w3-image" id="recording_active" alt="Recording active" style="height:34px; width:34px"> 
                    {% endif %}
                </div>
                {% else %}
                <div>
                    {% if g.nrUsers == 0 %}
                    {% if sc.curMenu == "register" %}
                    <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-button w3-dark-grey" id='registerbtn' onclick="openMenu('registerbtn')">Register</a>
                    {% else %}
                    <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-button" id='registerbtn' onclick="openMenu('registerbtn')">Register</a>
                    {% endif %}
                    {% endif %}
                    {% if sc.curMenu == "login" %}
                    <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button w3-dark-grey" id='loginbtn' onclick="openMenu('loginbtn')">Log In</a>
                    {% else %}
                    <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button" id='loginbtn' onclick="openMenu('loginbtn')">Log In</a>
                    {% endif %}
                    {% if sc.curMenu == "password" %}
                    <a href="{{ url_for('auth.password') }}" class="w3-bar-item w3-button w3-dark-grey" id='passwdbtn' onclick="openMenu('passwdbtn')">Change Password</a>
                    {% else %}
                    <a href="{{ url_for('auth.password') }}" class="w3-bar-item w3-button" id='passwdbtn' onclick="openMenu('passwdbtn')">Change Password</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% block content %}{% endblock %}
            <div class="w3-bar w3-bottom w3-dark-grey">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
        <script>
            function openMenu(menuButton) {
                var b = document.getElementsByClassName("menubtns");
                for (i = 0; i < b.length; i++) {
                    b[i].classList = "w3-bar-item w3-button menubtns";
                }
                document.getElementById(menuButton).classList = "w3-bar-item w3-button menubtns w3-dark-grey";
            }
        </script>
    </body>
</html>