<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Raspi Camera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
    <body>
        <div class="w3-container">
            <div class="w3-bar w3-green w3-large">
                <div class="w3-bar-item w3-left-align">raspiCamSrv</div>
                <div class="w3-bar-item w3-center">{% block header %}{% endblock %}</div>
                <div class="w3-bar-item w3-right-align">{% block device %}{% endblock %}</div>
                {% if g.user %}
                <span class="w3-bar-item">{{ g.user['username'] }}</span>
                {% endif %}
            </div>
            <div class="w3-bar w3-black">
                {% if g.user %}
                <a href="{{ url_for('home.index') }}" class="w3-bar-item w3-button">Live</a>
                <a href="{{ url_for('images.main') }}" class="w3-bar-item w3-button">Images</a>
                <a href="{{ url_for('info.main') }}" class="w3-bar-item w3-button">Info</a>
                <a href="{{ url_for('config.main') }}" class="w3-bar-item w3-button">Config</a>
                <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button">Log Out</a>
                {% else %}
                <div>
                    <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-button">Register</a>
                    <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button">Log In</a>
                </div>
                {% endif %}
            </div>
            <div class="w3-row w3-light-grey">
                {% block content %}{% endblock %}
            </div>
            <div class="w3-bottom w3-bar w3-dark-grey">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>