{% extends 'base.html' %}

{% block header %}
    {% block title %}Camera Information{% endblock %}
{% endblock %}

{% block content %}
    <div class="w3-bar w3-green">
        <!-- Info menue -->
        <button class="w3-bar-item w3-button infomenu w3-light-green" id="camerasbtn" onclick="openInfoTab('cameras', 'camerasbtn')">Installed Cameras</button>
        <button class="w3-bar-item w3-button infomenu" id="campropbtn" onclick="openInfoTab('camprops', 'campropbtn')">Camera Properties</button>
        {% for mode in sm %}
        <button class="w3-bar-item w3-button infomenu" id="{{ mode.tabButtonId }}" onclick="openInfoTab('{{ mode.tabId }}', '{{ mode.tabButtonId }}')">{{ mode.tabTitle}}</button>
        {% endfor%}
        <div class="w3-bar-item w3-right" style="padding-top:2px; padding-bottom:0">
            <div class="w3-tooltip">
                <span style="position:absolute;right:45px;top:5px;width:200px" class="w3-text w3-tag">Online help from
                    GitHub
                </span>
                <img src="{{ url_for('static', filename='onlineHelp.png') }}" class="w3-image" id="onlinehelp" alt="Online help"
                    style="height:34px; width:34px" onclick="onlineHelp()">
            </div>
        </div>
    </div>
    <div id="cameras" class="infogroup">
        <h4>Raspberry Pi</h4>
        <table class="w3-table-all">
            <tr>
                <td style="width:15%">Model</td>
                <td style="width:55%">{{sc.raspiModelFull}}</td>
                <td style="width:30%"></td>
            </tr>
            <tr>
                <td>Board Revision</td>
                <td>{{sc.boardRevision}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Kernel Version</td>
                <td>{{sc.kernelVersion}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Debian Version</td>
                <td>{{sc.debianVersion}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Process Info</td>
                <td>{{sc.processInfo}}</td>
                <td></td>
            </tr>
            <tr>
                <td>FFmpeg Info</td>
                <td>{{sc.ffmpegProcessInfo}}</td>
                <td></td>
            </tr>
        </table>
        {% for cam in cs %}
        {% if cam.num == sc.activeCamera %}
        <h4>Camera {{ cam.num }} (currently active)</h4>
        {% else%}
        {% if cam.isUsb == true %}
        <h4>Camera {{ cam.num }} (USB camera - Not supported)</h4>
        {% else%}
        <h4>Camera {{ cam.num }}</h4>
        {% endif%}
        {% endif%}
        {% set camnum = cam.num|string %}
        {% set tc = tcs[camnum] %}
        <table class="w3-table-all">
            <tr>
                <th style="width:15%">Property</th>
                <th style="width:55%">Value</th>
                <th style="width:30%">Description</th>
            </tr>
            <tr>
                <td>
                    Model
                </td>
                <td>
                    {{ cam.model }}
                </td>
                <td>
                    Model name of the camera
                </td>
            </tr>
            <tr>
                <td>
                    Location
                </td>
                <td>
                    {{ cam.location }}
                </td>
                <td>
                    Location of the camera
                </td>
            </tr>
            <tr>
                <td>
                    Rotation
                </td>
                <td>
                    {{ cam.rotation }}
                </td>
                <td>
                    Rotation of the camera
                </td>
            </tr>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    {{ cam.id }}
                </td>
                <td>
                    ID of the camera
                </td>
            </tr>
            <tr>
                <td>
                    Current Status
                </td>
                <td>
                    {{ cam.status }}
                </td>
                <td>
                    Current status of the camera
                </td>
            </tr>
            <tr>
                <td>
                    Tuning File
                </td>
                <td>
                    {% if tc.loadTuningFile == True %}
                        {{ tc.tuningFilePath }}
                    {% else %}
                    Default
                    {% endif %}
                </td>
                <td>
                    Tuning file to be loaded
                </td>
            </tr>
        </table>
        {% endfor%}
        <h4>Streaming Clients</h4>
        <table class="w3-table-all">
            <tr>
                <th style="width:15%">IP Address</th>
                <th style="width:55%">Streams</th>
                <th style="width:30%"></th>
            </tr>
            {% for cli in sc.streamingClients %}
            {% set ip = cli["ipaddr"] %}
            <tr>
                <td>{{ ip }}</td>
                <td>{{ sc.streamingClientStreams(ip) }}</td>
                <td></td>
            </tr>
            {% endfor%}
            {% if sc.streamingClients|length == 0 %}
            <tr>
                <td>None</td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div id="camprops" class="infogroup" style="display:none">
        <h4>Camera Properties</h4>
        <table class="w3-table-all">
            <tr>
                <th>Property</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
            {% for prop in props %}
                <tr>
                    <td>{{ prop|string() }}</td>
                    {% if prop == "ColourFilterArrangement" %}
                    {% if props[prop] == 0 %}</td>
                    <td>RGGB</td>
                    {% elif props[prop] == 1 %}</td>
                    <td>GRBG</td>
                    {% elif props[prop] == 2 %}</td>
                    <td>GBRG</td>
                    {% elif props[prop] == 3 %}</td>
                    <td>BGGR</td>
                    {% elif props[prop] == 4 %}</td>
                    <td>monochrome</td>
                    {% else %}
                    <td>{{ props[prop]|string() }}</td>
                    {% endif %}
                    {% else %}
                    <td>{{ props[prop]|string() }}</td>
                    {% endif %}
                    {% if prop == "Model" %}
                    <td>The name that the attached sensor advertises.</td>
                    {% elif prop == "ColourFilterArrangement" %}
                    <td>
                        A number representing the native Bayer order of sensor 
                        (before any rotation is taken into account).
                    </td>
                    {% elif prop == "Location" %}
                    <td>
                        An integer which specifies where on the device the camera is 
                        situated (for example, front or back). For the Raspberry Pi, 
                        the value has no meaning.
                    </td>
                    {% elif prop == "PixelArrayActiveAreas" %}
                    <td>
                        The active area of the sensor’s pixel array within the entire sensor pixel array. 
                        Given as a tuple of (x_offset, y_offset, width, height) values.
                    </td>
                    {% elif prop == "PixelArraySize" %}
                    <td>
                        The size of the active pixel area as an (x, y) tuple. 
                        This is the full available resolution of the sensor.
                    </td>
                    {% elif prop == "Rotation" %}
                    <td>
                        The rotation of the sensor relative to the camera board. 
                        On many Raspberry Pi devices, the sensor is actually upside down 
                        when the camera board is held with the connector at the bottom, 
                        and these will return a value of 180° here.
                    </td>
                    {% elif prop == "ScalerCropMaximum" %}
                    <td>
                        This value is updated when a camera mode is configured. 
                        It returns the rectangle as a (x_offset, y_offset, width, height) tuple 
                        within the pixel area active area, that is read out by this camera mode.
                    </td>
                    {% elif prop == "SensorSensitivity" %}
                    <td>
                        This value is updated when a camera mode is configured. 
                        It represents a relative sensitivity of this camera mode compared to 
                        other camera modes. Usually, camera modes all have the same sensitivity 
                        so that the same exposure time and gain yield an image of the same brightness. 
                        Sometimes cameras have modes where this is not true, and to get the same 
                        brightness you would have to adjust the total requested exposure by the ratio 
                        of these sensitivities. For most sensors this will always return 1.0.
                    </td>
                    {% elif prop == "UnitCellSize" %}
                    <td>
                        The physical size of this sensor’s pixels, if known. 
                        Given as an (x, y) tuple in units of nanometres.
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor%}
        </table>
    </div>
    {% for mode in sm %}
    <div id={{ mode.tabId }} class="w3-container infogroup" style="display:none">
        <h4>{{ mode.tabTitle }}</h4>
        <table class="w3-table-all">
            <tr>
                <th>Property</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    size
                </td>
                <td>
                    {{ mode.size }}
                </td>
                <td>
                    the resolution of the sensor output.
                    This value can be passed as the "size" when requesting the raw stream.
                </td>
            </tr>
            <tr>
                <td>
                    Unpacked
                </td>
                <td>
                    {{ mode.unpacked }}
                </td>
                <td>
                    Use this in place of the earlier format in the raw stream request 
                    if unpacked raw images are required. We recommend anyone wanting 
                    to access the raw pixel data to ask for the unpacked version of the format.
                </td>
            <tr>
                <td>
                    Format
                </td>
                <td>
                    {{ mode.format }}
                </td>
                <td>
                    The packed sensor format. This can be passed as the "format" 
                    when requesting the raw stream.
                </td>
            </tr>
            <tr>
                <td>
                    Bit Depth
                </td>
                <td>
                    {{ mode.bit_depth }}
                </td>
                <td>
                    The number of bits in each pixel sample.
                </td>
            </tr>
            <tr>
                <td>
                    FPS
                </td>
                <td>
                    {{ mode.fps }}
                </td>
                <td>
                    The maximum framerate supported by this mode.
                </td>
            </tr>
            <tr>
                <td>
                    Crop Limits
                </td>
                <td>
                    {{ mode.crop_limits }}
                </td>
                <td>
                    This tells us the exact field of view of this mode 
                    within the full resolution sensor output. <br>
                    This needs to be compared with "PixelArraySize" in Camere Properies
                </td>
            </tr>
            <tr>
                <td>
                    Exposure Limits
                </td>
                <td>
                    {{ mode.exposure_limits }}
                </td>
                <td>
                    The minimum and maximum exposure times (in microseconds) permitted in this mode.
                </td>
            </tr>
        </table>
    </div>
    {% endfor%}
    <script>
        function openInfoTab(infoTabName, infoTabButton) {
            var i;
            var x = document.getElementsByClassName("infogroup");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(infoTabName).style.display = "block";

            var b = document.getElementsByClassName("infomenu");
            for (i = 0; i < b.length; i++) {
                b[i].classList = "w3-bar-item w3-button infomenu";
            }
            document.getElementById(infoTabButton).classList = "w3-bar-item w3-button infomenu w3-light-green";
        }
        function onlineHelp() {
            window.open("https://github.com/signag/raspi-cam-srv/blob/main/docs/Information.md");
        }
    </script>
{% endblock %}